{% extends 'portpolio/base_template.html' %}
{% block content %}

<title>Portpolio Project</title>
  <h1>Portpolio Project</h1>
  <p>Have Your Day</p>
  {% load static%}
  <img src="{% static 'portpolio/abhi.jpeg' %}"/>
  <a href="{% url 'blog:home_blog' %}">Blog</a>
  <a href="{% static 'portpolio/resume.pdf' %}">Download Resume</a>
  {% for proj in project %}
  <h1>{{proj.title}}</h1>
  <p>{{proj.description}}</p>

  <img src="{{proj.image.url}}" height="512" width="812"/>
  <a href="{{ proj.url }}">Link</a>
  {% endfor %}

{% endblock %}